.DS_Store
TSValidatedTextField-Sample/TSValidatedTextField-Sample.xcodeproj/project.xcworkspace/xcuserdata/tomkowz.xcuserdatad/UserInterfaceState.xcuserstate
TSValidatedTextField-Sample/TSValidatedTextField-Sample.xcodeproj/project.xcworkspace/xcuserdata/tomkowz.xcuserdatad/WorkspaceSettings.xcsettings
TSValidatedTextField-Sample/TSValidatedTextField-Sample.xcodeproj/xcuserdata/tomkowz.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
TSValidatedTextField-Sample/TSValidatedTextField-Sample.xcodeproj/xcuserdata/tomkowz.xcuserdatad/xcschemes/TSValidatedTextField-Sample.xcscheme
TSValidatedTextField-Sample/TSValidatedTextField-Sample.xcodeproj/xcuserdata/tomkowz.xcuserdatad/xcschemes/xcschememanagement.plist
